RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /drconexoesweb/index.php?url=$1 [QSA,L]

#RewriteCond %{HTTPS} !=on
#RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<IfModule mod_env.c>

    SetEnv APP_ENVIROMENT development
    SetEnv WEBSERVICE 
    SetEnv BASE_URL http://127.0.0.1:8080/drconexoesweb

    SetEnv NAME_TOKEN drconexoesweb
    SetEnv NOME_SESSION drconexoesweb
    SetEnv DOMINIO https://www.drconexoes.com.br
    SetEnv KEY_TOKEN 1843562f1d1bb61f20e111984ada65ec
		SetEnv API_KEY p43SrDEc01

    SetEnv EMAIL_ contato@drconexoes.com.br
    SetEnv EMAIL_DEV desenvolvimento@drconexoes.com.br
    SetEnv SENHA_DEV desenvolvimento@drconexoes
    SetEnv HOST_MAIL mail.drconexoes.com.br
		SetEnv PORTA 587

    SetEnv DB_NAME drconexoes
    SetEnv DB_HOST localhost
    SetEnv DB_USER root
    SetEnv DB_PASS 

</IfModule>


#<IfModule mod_expires.c>
	#ExpiresActive On
	#ExpiresDefault "acess plus 1 month"
	
	#ExpiresByType image/x-icon "acess plus 3 Month"
	#ExpiresByType application/javascript "access plus 2 Month"
	#ExpiresByType application/x-javascript "access plus 2 Month"
	#ExpiresByType text/javascript "access plus 2 Month"
	#ExpiresByType text/html "access plus 1 day"
	#ExpiresByType text/css "access plus 1 day"
	#ExpiresByType text/images "access plus 1 Month"
	#ExpiresByType text/phpmailer "access plus 1 Month"

	#Media: images, video, audio
	#ExpiresByType image/jpg "access plus 1 Month"
	#ExpiresByType image/jpeg "access plus 1 Month"
	#ExpiresByType image/png "access plus 1 Month"
	#ExpiresByType audio/mp3 "access plus 1 Month"
	#ExpiresByType video/mp4 "access plus 1 Month"
#</IfModule>
# Fim das Otimizacoes ##




